* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:white;
    margin: auto;
}
header{
    background-color:white;
    font-style: bold;
    font-size: x-large;
    text-align: center;
}
h2{
    font-style: italic;
    font-size: xx-large;
}
h3{
    font-size: large;
}
.text{
    text-align: center;
    font-size: large;

}
.main{
    text-align: center;
    color:teal
}