* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: auto;
    

}
header{
    background-color: teal;
    margin: 0;
    text-align: left;
    flex-wrap: wrap;
    padding: 20px 35px;

}
a:hover{
    color:white;
}
header a{
    color: black;
    text-decoration: none;
}
header nav {
float:right;
margin: 15px 0;
;
}
header nav ul li {
    display:inline
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 25px;
}

.first {
    text-align: center;
    padding: 20px;
    margin: 0;
    background-color: tomato;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
img {
    border: 1px solid #ddd;
    border-radius: 1500px;
    padding: 10px;
    width: 1000px;
    
    
}
.first img:hover {
    color: white;
}
.second{
    text-align: center;
    padding: 20px;
    margin: 0;
    background-color: teal;
}
.third {
margin: 0 auto;
text-align: center;
background-color: tomato;

}
.fourth{
margin: 0 auto;
background-color: teal;
border: 1px auto;
color:white;
text-align: center;


}
footer{
    background-color: tomato;
    font-weight: lighter;
    color:black;
    text-align: center;

}